/* --- BỘ MÀU GỐC (LIGHT MODE) --- */
.root {
    -color-bg-main: #fcfcfc;
    -color-bg-card: #f3f4f6;
    -color-bg-sidebar: #ffffff;

    -color-text-title: #1a1a1a;
    -color-text-sub: #718096;

    -color-border: #f0f0f0;
    -color-btn-primary: #1a1a1a;
    -color-btn-text: #ffffff;
}



.bg-main { -fx-background-color: -color-bg-main; }
.bg-sidebar { -fx-background-color: -color-bg-sidebar; }
.bg-card {
    -fx-background-color: -color-bg-card;
    -fx-background-radius: 15;
}

.text-title { -fx-text-fill: -color-text-title; }
.text-sub { -fx-text-fill: -color-text-sub; }

.btn-primary {
    -fx-background-color: -color-btn-primary;
    -fx-text-fill: -color-btn-text;
    -fx-background-radius: 20;
    -fx-cursor: hand;
}
.scroll-pane, .scroll-pane > .viewport {
    -fx-background-color: transparent;
}