.menu-item {
    -fx-background-color: transparent;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

.menu-item:hover {
    -fx-background-color: #f3f4f6;
}

.menu-item-active {
    -fx-background-color: #e6f0fd;
    -fx-background-radius: 8;
}

.menu-item-active .button {
    -fx-text-fill: #3b82f6;
    -fx-font-weight: bold;
}